// Wrapper ....................
.wrapper {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
}

// Headers ....................
h1 {
    text-transform: uppercase;
    font-size: calc(3rem + 2vw);
    font-family: $secondaryFont;
    letter-spacing: 3px;
    color: $xLrgTitleColour;
}

h2 {
    text-transform: uppercase;
    font-size: calc(2.4rem + 1.5vw);
    letter-spacing: 1px;
    color: $lrgTitleColour;
}

h3 { 
    text-transform: uppercase;
    font-size: calc(2rem + 1vw);
    letter-spacing: 1px;
    color: $medTitleColour;
    padding: 0 0 30px 0;
}

h4 {
    font-size: calc(2rem + 1vw);
    color: $smlTitleColour;
    padding: 30px 0;
}

// Text ....................
p {
    letter-spacing: 1px;
    line-height: 25px;
}

p.satLabel { 
    font-size: calc(1.8rem + 0.3vw);
}

.introSection p {
    span.highlight {
        font-style: bold;
        color: $highlightTxtColour;
    }
}

// Links and buttons ....................
.satButton,
.resetButton {
    font-size: 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
}

.satButton {
    background: $satButtonBackground;
    border: transparent 2px solid; 
    color: $secondaryTxtColour;

    &:hover,
    &:focus {
        border: $satButtonBackground 2px solid;
        color: $satButtonBackground;
        background: $satButtonHover;
    }
}

.resetButton {
    background: $resetButtonBackground;
    border: transparent 2px solid; 
    color: $secondaryTxtColour;

    &:hover,
    &:focus {
        border: $resetButtonBackground 2px solid;
        color: $resetButtonBackground;
        background: $resetButtonHover;
    }
}

.locationButton {
    border: none;
    background: none;
    align-self: center;
    height: 100%;

    span {
        font-size: 3rem;

        .fa-stack-2x {
            color: $locationSearchButtonBackground;
        }
        .fa-stack-1x {
            color: $locationSearchButtonIcon;
        }
    }
}

a {
    color: $linkTxtColour1;
    font-size: 2rem;

    &:hover, :focus, :active {
        color: #0073ff;
    }
}

// Forms (inputs + labels) ....................
form {
    label {
        font-size: 2.5rem;
        color: $smlTitleColour;
    }

    input{
        background: $inputBackground;
        width: 400px;
        padding: 10px;
        font-size: 1.8rem;
        line-height: 30px;
        letter-spacing: 2px;
        border: none;
        border-bottom: 2px solid $locationSearchBorder;

        &::placeholder {
            color: $placeholderTxtColour;
            font-size: 1.8rem;
            line-height: 30px;
            letter-spacing: 2px;
        }
    }
}

// Header styles ....................
header {
    height: 100vh;
    background: url(../assets/headerImage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            align-self: flex-end;
        }
        h2 { 
            align-self: flex-end;
        }
    }

    a.navBtn {
        font-size: 3.5rem;
        color: $iconsColour;
        margin-top: 75px;
        align-self: flex-end;
    }

    a.animate__slideInDown {
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

// Main styles ....................
main {
    padding: 75px 0;
    background: $mainBackground;

    .introSection {
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 75px;
        border-bottom: 3px solid $mainBorder;

        .introTxt {
            padding-right: 100px;
        }

        p {
            padding-bottom: 30px;
        }
        
        iframe { 
            width: 480px;
            height: 270px;
        }
    }

    .satButton {
        margin: 40px 25px 40px 0;
    }    
}

// Station position styles .......
.satSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 75px;
    border-bottom: 3px solid $mainBorder; 
    
    .satPosition {
        width: 60%;
    }
    
    .satInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding-bottom: 25px;
    }

    .satDisplay {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        p {
            padding-bottom: 10px;
            color: $satLabelTxtColour;
        }

        .info {
            width: 300px;
            padding: 10px 10px 10px 0;
            margin-bottom: 10px;
            border-bottom: 2px solid $satInfoBorder;
        }
    }
}

// Land or water styles .......
.landOrWater {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .landOrWaterDisplay {
        margin: 75px auto;

        .txt {
            width: 100%
        }
    
        .img {
            width: 60%;
            margin: 0 auto;
        }
    }
}

// Location distance styles .......
form { 
    display: flex;
    flex-direction: column;
    
    .locationForm { 
        display: flex;
    }

    .locationInput { 
        display: flex;
        flex-direction: column;

        label { 
            padding-right: 10px;
        }

        input { 
            margin: 15px 0;
        }
    }
}

// Footer styles ....................
footer {
    background: $footerBackground;
    padding: 20px 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 300;
        color: $secondaryTxtColour;
    }

    a {
        font-size: 1.6rem;
        color: $linkTxtColour2;

        &:hover, &:focus {
            border-bottom: 1px solid $linkTxtColour2;
        }
    }
}   


// Dynamic JS classes ....................
.hide {
    display: none;
}

main .satDisplay .info p.infoTxt {
    color: $dynamicTxtColour;
    font-size: 1.8rem;
}

.displayTxt {
    color: $dynamicTxtColour;
    font-size: calc(1.8rem + 1.5vw);
    line-height: 30px;
    padding-top: 50px;
}


// Media queries ....................
// Desktop .......
@media (max-width: 1294px) { 

    .satSearch {
        flex-direction: column;

        h4 {
            text-align: center;
            padding-bottom: 50px;
        }
        
        .resetButton { 
            margin: 0 auto;
            text-align: center;
            align-items: center;
        }
    }

    .satSearch .satPosition {
        width: 100%;
    }

    .satDisplay {
        .satLabel {
            text-align: center;
        }

        .info {
            margin: 0 auto;
        }
    }

    .satSearch .landOrWater {
        width: 100%;
        margin-bottom: 50px;

        h4 {
            text-align: center;
        }

        .landOrWaterDisplay {
            align-content: center;
            margin: 15px 0 0 0;

            .img {
                width: 30%;
            }
        }
    } 
}

// Small desktop .......
@media (max-width: 1000px) { 

    main .introSection {
        flex-direction: column;

        iframe {
            width: 450px;
            height: 250px;
        }

        .introTxt {
            padding-right: 0px;
        }
    }
}

// Small desktop x2 .......
@media (max-width: 850px) { 

    header {
        height: 70vh;
    }

    .footerContainer{
        flex-direction: column;

        div:first-child {
            margin-bottom: 20px;
        }
    }
}

// Tablet .......
@media (max-width: 745px) { 

    main {
        padding: 50px 0;

        .introSection {
            padding-bottom: 20px;
            margin-bottom: 50px;
        }

        .satSearch {
            margin-bottom: 50px;

            .satInfo { 
                grid-template-columns: 1fr;
                gap: 0px;
            }
        }        
    }

    .satSearch .satDisplay .info {
        width: 80%;
    }

    .landOrWaterDisplay {
        .img {
            width: 100%;
        }
    }
}

// Small tablet, large mobile .......
@media (max-width:550px){ 
    
    main .introSection iframe {
        width: 370px;
        height: 200px;
    }

    .locationForm { 
        flex-direction: column;

        input {
            width: 275px;
        }

        .locationButton {
            padding: 20px 0;
        }
    }

    footer {
        text-align: center;
        font-size: 1.2rem;

        a {
            font-size: 1.2rem;
        }
    }
}

// Mobile .......
@media (max-width:420px){ 

    main .introSection iframe {
        width: 270px;
        height: 150px;
    }
    header {
        height: 40vh;
    }
    main .satSearch .satDisplay .info {
        width: 250px;
    }
}
