// Fonts & Font Colors ....................

$primaryFont:'Roboto', sans-serif;
$secondaryFont:'Space Mono', monospace;

// Import partials ....................

@import "setup";
@import "global";

// Skip link ....................
// Credit for code below: https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/
a.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active, &:focus {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible;
        text-decoration: none; 
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #FFF;
        background: rgb(111, 111, 111);
        padding: 5px;
    } 
}