// Background colours ....................
$headerBackground: #7c9ec9;
$mainBackground: #f0f7ff;
$footerBackground: #3f3f3f;


// Fonts and font colours ....................
// Fonts ........
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Space Mono', monospace;

// Font colours ........
$xLrgTitleColour: #f9f9f9;
$lrgTitleColour: #3d5698;
$medTitleColour: #5d92e1;
$smlTitleColour: #2a468e;

$primaryTxtColour: #636363;
$secondaryTxtColour: #f9f9f9;
$highlightTxtColour: #7790ff;
$satLabelTxtColour: #303030;
$dynamicTxtColour: #0073ff;


// Borders ....................
$headerBorder: #f9f9f9;
$mainBorder: #d8e2fa;
$satInfoBorder: #545454;
$locationSearchBorder: #545454;


// Form, button and link colours ....................
// Sat button ........
$satButtonBackground: #5d85eb;
$satButtonHover: #f9f9f9;

// Reset button ........
$resetButtonBackground: #849fe4;
$resetButtonHover: #f9f9f9;

// Location search ........
$inputBackground: #f5faff;
$placeholderTxtColour: #939393;
$locationSearchButtonBackground: #9d9d9d;
$locationSearchButtonIcon: #f9f9f9;

// Links ........
$linkTxtColour1: #6e62ed;
$linkTxtColour2: #ea593e;


// Import partials ....................
@import "setup";
@import "global";

// Skip link ....................
// Credit for code below: https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/
a.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active, &:focus {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible;
        text-decoration: none; 
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #FFF;
        background: rgb(111, 111, 111);
        padding: 5px;
    } 
}